html
  head
    title!= title
    script(src="bower_components/modernizr/modernizr.js")
    link(rel="stylesheet", href="bower_components/foundation/css/foundation.css")


  body
    .row
      .columns.small-12
        h1!= message

    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/foundation/js/foundation.min.js")
